<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="{{ `images/350icon1.svg` | relURL }}" alt="Bias Detection Icon" width="200em" height="200em">
        <h2 class="h2">Bias Detection<small class="d-none">🛡️</small></h2>
        <p>As a journalist, I want to detect bias in sources so that I can write balanced articles.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/350icon2.svg` | relURL }}" alt="Cross Validation Icon" width="200em" height="200em">
        <h2 class="h2">Cross Validation<small class="d-none">🚀</small></h2>
        <p>As an academic, I want to compare multiple sources easily so that I can evaluate 
            different perspectives on a topic.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/350icon3.svg` | relURL }}" alt="Credibility Filter Icon" width="200em" height="200em">
        <h2 class="h2">Credibility Filter<small class="d-none">📈</small></h2>
        <p>As a student, I want to filter out uncredible sources so 
            that my research remains reliable and valuable.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Summarize Topics<small class="d-none">🦉</small></h2>
        <p>As a student, I want a tool that summarizes key arguments
             so that I can understand complex topics faster.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Research Updates<small class="d-none">✨</small></h2>
        <p>As an academic, I want to stay updated with the latest research so that I can
             reference recent findings in my work.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Citation Generator<small class="d-none">🧰</small></h2>
        <p>As a student, I want to generate citations automatically so that
             I don’t have to format them manually.</p>
    </div>
</div>
